* {
    margin: 0;
    padding: 0;
}
body{
    font-family: avenir;
    font-size: 0px;
/*    background-color: orange;*/
}
.wrapper{
	background-color: red;
	width:100%;
	height:100%;
}
.process{
	margin-top: 80px;
	background-color: blue;
	width:30%;
	height:100%;
	display:inline-block;
	overflow-y: scroll;
}
.main{
	margin-top: 80px;
	background-color: yellow;
	width:70%;
	height:100%;
	display:inline-block;
}
.processtext{
	height:1500px;
}
.maintext{
	height:1500px;
}