
@font-face {
  font-family: 'Lettera-Regular';
  src: url('Lettera-Regular.eot?#iefix') format('embedded-opentype'),  url('Lettera-Regular.woff') format('woff'), url('Lettera-Regular.ttf')  format('truetype'), url('Lettera-Regular.svg#Lettera-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
