@font-face { font-family: gridnik; src: url('foundrygridnik.ttf'); } 


body{
	font-size: 0px;
	background-color: #2e3192;
}
.row1{
	width:40%;
	display: inline-block;
	vertical-align: text-top;
}
.row2{
	width:40%;
	display: inline-block;
	vertical-align: text-top;
}
.row5{
	font-family: gridnik;
	position:fixed;
	width:100%;
	font-size: 10px;
	text-align: center;
	color:white;
	text-transform: uppercase;
}
a{
	color:white;
	text-decoration: none;
}
img{
	width:100%;
	margin-bottom: 60px;
	vertical-align: text-top;
}
.scroll {
    overflow-y: scroll;
    overflow:auto;
}
.wrapper{
	overflow: hidden;
}
.row3{
	width:20%;
	display: inline-block;
}
h1{
	font
}